//- should i be calling this a dashboard?


html
  head
    h4 Welcome the the Blog!
  

  body
    nav(class="navbar navbar-light bg-faded")
      a(type="button", href="/logout") Logout <br>
      a(type="button", href="/") Home <br>
      a(type="button", href="/logout" style="float:right") Logout <br>
    h5 Your info here:
    ul
      p Username: #{li= results.username}
      p Firstname: #{li= results.firstname}
      p Lastname: #{li= results.lastname}
      p Email: #{li= results.email}

    h5 All your posts:
      each post in posts
        p
          li= post.title
          li= post.body
          li= post.userId
          li= post.id
          a(href="/onepost/" + post.id) open your post
